CMakeFiles/
CMakeCache.txt
Makefile
cmake_*.cmake
install_manifest.txt
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.user
*.o
*.reject
*.so
*~
brod/brodrust/x86_64-unknown-linux-gnu
.gdb_history
VERSION
Testing
CTestTestfile.cmake
*.snap
*.xlog
VERSION.lua
.rocks
.idea
.vscode